<div class="padding-xs" ng-controller="OptLogController">
    <table class="table table-actions table-striped">
        <thead>
        <tr class="bg-dark-blue">
            <th>模块名称</th>
            <th width="100">类型</th>
            <th width="120">操作人</th>
            <th width="100">状态</th>
            <th width="60">参数</th>
            <th width="60">错误</th>
            <th width="150">操作时间</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="e in page.list">
            <td>{{e.module}}</td>
            <td>{{e.opt}}</td>
            <td>{{e.operAcc}}</td>
            <td>{{e.state}}</td>
            <td>
                <button class="btn btn-xs" data-toggle="tooltip" title="{{e.params}}">
                    <i class="fas fa-info"></i>
                </button>
            </td>
            <td>
                <button ng-if="e.err" class="btn btn-warning btn-xs" data-toggle="tooltip" title="{{e.err}}">
                    <i class="fas fa-exclamation-triangle"></i>
                </button>
            </td>
            <td>{{e.ctime}}</td>
        </tr>
        </tbody>
    </table>

    <div class="pagination pagination-sm pull-right push-down-20 push-up-20">
        <ul uib-pagination
            total-items="page.total"
            ng-model="currentPage"
            items-per-page="page.pageSize"
            max-size="6"
            class="pagination-sm"
            boundary-link-numbers="true"
            rotate="false"
            ng-change="loadData()"/>
    </div>
    <form name="myForm" novalidate w5c-form-validate="entity">
        <div class="modal animated fade" id="modal_edit" tabindex="-1"
             role="dialog" aria-labelledby="smallModalHead" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">
                            <span aria-hidden="true">&times;</span><span class="sr-only">关闭</span>
                        </button>
                        <h4 class="modal-title" id="smallModalHead">{{editForm.title}}</h4>
                    </div>
                    <div class="modal-body ">
                        <div class="form-horizontal form-group-separated no-margin form-border">
                            <div class="form-group">
                                <label class="col-md-2 control-label">模块名称：</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="module"
                                           ng-model="entity.module"
                                    required >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">操作类型：</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="opt"
                                           ng-model="entity.opt"
                                    required >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">操作人：</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="oper"
                                           ng-model="entity.oper"
                                     >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">操作状态：success、excption：</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="state"
                                           ng-model="entity.state"
                                    required >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">：</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="params"
                                           ng-model="entity.params"
                                     >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">：</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="err"
                                           ng-model="entity.err"
                                     >
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-2 control-label">操作时间：</label>
                                <div class="col-md-10">
                                    <input class="form-control" type="text" name="ctime"
                                           ng-model="entity.ctime"
                                     >
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-sm"
                                w5c-form-submit="editForm.save($event)">保存</button>
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">关闭</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>