.modal {
    text-align: center
}

.modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    width: 0;
    margin-left: -1em;
    vertical-align: middle
}

.modal.fade:not(.animated) .modal-dialog {
    opacity: 0;
    -webkit-transform: translateY(-150%);
    -ms-transform: translateY(-150%);
    transform: translateY(-150%);
    -webkit-transition: all .5s linear .5s;
    transition: all .5s linear .5s
}

.modal.fade.in:not(.animated) .modal-dialog {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: all .5s;
    transition: all .5s
}

.bootbox.modal.in:not(.fade) {
    opacity: 1;
    -webkit-transition: opacity, 0.5s;
    transition: opacity, 0.5s
}

.bootbox.modal:not(.fade) {
    opacity: 0;
    -webkit-transition: opacity .5s linear .5s;
    transition: opacity .5s linear .5s
}

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    margin-top: -1%;
    min-width: 90%
}

.modal-dialog.animated {
    -webkit-animation-duration: .7s;
    animation-duration: .7s
}

.modal-header {
    padding: 15px;
    position: relative;
    border: 0
}

.modal-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 15px;
    right: 15px;
    height: 1px;
    border-bottom: 1px solid rgba(0,0,0,0.1)
}

.modal-footer {
    background-color: rgba(0,0,0,0.025);
    color: #5c7174;
    border-color: rgba(0,0,0,0.04);
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.modal-title {
    font-size: 18px;
    font-weight: 300
}

.modal-body {
    min-height: 90px
}

.modal-body .close,.modal-header .close {
    top: 15px;
    right: 10px;
    left: auto;
    position: absolute;
    background-color: transparent !important
}

.modal-content {
    box-shadow: none;
    border-radius: 0
}

.modal-footer {
    padding: 10px 15px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.modal-backdrop.in {
    opacity: .75
}

@media (min-width:768px) {
    .modal-dialog {
        min-width: 0
    }
}